h1 {
    text-align: center;
    background-color: grey;
    
    }
ul {
    font-size: x-large;
    text-align: center;
    list-style-position: inside; 
    list-style-type: none;
    line-height: 2;
    font-family: Times, 'Times New Roman', serif;
    }
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: large;
    font-family: Times, 'Times New Roman', serif;
    }
.background {background-color: wheat;}